<h1>Tweets</h1>

<% @tweets.each do |tweet| %>
  <h4>Content:</h4>
  <p><%= tweet.content %></p>
  <p><strong>Scheduled for: </strong> <%= tweet.time %></p>
  <p><strong>Status: </strong><%= tweet.status %> </p>
  <div class="divider"></div>
<% end %>
