<h1>Tweets</h1>

<% @tweets.each do |tweet| %>
  <h5>Content:</h5>
  <p><%= tweet.content %></p>
  <% if tweet.status == "scheduled" %>
    <p><strong>Scheduled for: </strong> <%= format_time(tweet.time) %></p>
  <% else %>
    <p><strong>Posted at: </strong><%= format_time(tweet.time) %> </p>
  <% end %>
  <div class="divider"></div>
<% end %>
